{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Mailchimp Marketing API",
    "contact" : {
      "name" : "Mailchimp API Support",
      "email" : "apihelp@mailchimp.com"
    },
    "version" : "3.0.85",
    "x-permalink" : "https://github.com/mailchimp/mailchimp-client-lib-codegen/blob/main/spec/marketing.json"
  },
  "externalDocs" : {
    "description" : "Learn more with the full Mailchimp API documentation.",
    "url" : "https://mailchimp.com/developer/marketing/"
  },
  "servers" : [ {
    "url" : "https://server.api.mailchimp.com/3.0"
  } ],
  "security" : [ {
    "basicAuth" : [ ]
  } ],
  "paths" : {
    "/" : {
      "get" : {
        "tags" : [ "root" ],
        "summary" : "List api root resources",
        "description" : "Get links to all other resources available in the API.",
        "operationId" : "getRoot",
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            },
            "x-title" : "Fields"
          },
          "x-title" : "Fields"
        }, {
          "name" : "exclude_fields",
          "in" : "query",
          "description" : "A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            },
            "x-title" : "Exclude Fields"
          },
          "x-title" : "Exclude Fields",
          "x-ballerina-name" : "excludeFields"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/APIRoot"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/APIRoot"
                }
              }
            }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-custom-config" : {
          "methodNameSnake" : "get_root",
          "methodNameCamel" : "getRoot"
        }
      }
    },
    "/activity-feed/chimp-chatter" : {
      "get" : {
        "tags" : [ "activityFeed" ],
        "summary" : "Get latest chimp chatter",
        "description" : "Return the Chimp Chatter for this account ordered by most recent.",
        "operationId" : "getActivityFeedChimpChatter",
        "parameters" : [ {
          "name" : "count",
          "in" : "query",
          "description" : "The number of records to return. Default value is 10. Maximum value is 1000",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000,
            "type" : "integer",
            "default" : 10,
            "x-title" : "Count"
          },
          "x-title" : "Count"
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination), this it the number of records from a collection to skip. Default value is 0",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 0,
            "x-title" : "Offset"
          },
          "x-title" : "Offset"
        } ],
        "responses" : {
          "200" : {
            "description" : "ChimpChatter Collection",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse200"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse200"
                }
              }
            }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "x-custom-config" : {
          "methodNameSnake" : "get_chimp_chatter",
          "methodNameCamel" : "getChimpChatter"
        }
      }
    },
    "/account-exports" : {
      "get" : {
        "tags" : [ "accountExports" ],
        "summary" : "List account exports",
        "description" : "Get a list of account exports for a given account.",
        "operationId" : "getAccountExports",
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            },
            "x-title" : "Fields"
          },
          "x-title" : "Fields"
        }, {
          "name" : "exclude_fields",
          "in" : "query",
          "description" : "A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            },
            "x-title" : "Exclude Fields"
          },
          "x-title" : "Exclude Fields",
          "x-ballerina-name" : "excludeFields"
        }, {
          "name" : "count",
          "in" : "query",
          "description" : "The number of records to return. Default value is 10. Maximum value is 1000",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000,
            "type" : "integer",
            "default" : 10,
            "x-title" : "Count"
          },
          "x-title" : "Count"
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination), this it the number of records from a collection to skip. Default value is 0",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 0,
            "x-title" : "Offset"
          },
          "x-title" : "Offset"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse2001"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse2001"
                }
              }
            }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-custom-config" : {
          "methodNameSnake" : "list_account_exports",
          "methodNameCamel" : "listAccountExports"
        }
      },
      "post" : {
        "tags" : [ "accountExports" ],
        "summary" : "Add export",
        "description" : "Create a new account export in your Mailchimp account.",
        "operationId" : "postAccountExport",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateAnAccountExport"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse2002"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse2002"
                }
              }
            }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-custom-config" : {
          "methodNameSnake" : "create_account_export",
          "methodNameCamel" : "createAccountExport"
        },
        "x-codegen-request-body-name" : "body"
      }
    },
    "/account-exports/{exportId}" : {
      "get" : {
        "tags" : [ "accountExport" ],
        "summary" : "Get account export info",
        "description" : "Get information about a specific account export.",
        "operationId" : "getAccountExportId",
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            },
            "x-title" : "Fields"
          },
          "x-title" : "Fields"
        }, {
          "name" : "exclude_fields",
          "in" : "query",
          "description" : "A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            },
            "x-title" : "Exclude Fields"
          },
          "x-title" : "Exclude Fields",
          "x-ballerina-name" : "excludeFields"
        }, {
          "name" : "exportId",
          "in" : "path",
          "description" : "The unique id for the account export",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "x-title" : "Export ID"
          },
          "x-title" : "Export ID"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse2002"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse2002"
                }
              }
            }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-custom-config" : {
          "methodNameSnake" : "get_account_exports",
          "methodNameCamel" : "getAccountExports"
        }
      }
    },
    "/authorized-apps" : {
      "get" : {
        "tags" : [ "authorizedApps" ],
        "summary" : "List authorized apps",
        "description" : "Get a list of an account's registered, connected applications.",
        "operationId" : "getAuthorizedApps",
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            },
            "x-title" : "Fields"
          },
          "x-title" : "Fields"
        }, {
          "name" : "exclude_fields",
          "in" : "query",
          "description" : "A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            },
            "x-title" : "Exclude Fields"
          },
          "x-title" : "Exclude Fields",
          "x-ballerina-name" : "excludeFields"
        }, {
          "name" : "count",
          "in" : "query",
          "description" : "The number of records to return. Default value is 10. Maximum value is 1000",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000,
            "type" : "integer",
            "default" : 10,
            "x-title" : "Count"
          },
          "x-title" : "Count"
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination), this it the number of records from a collection to skip. Default value is 0",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 0,
            "x-title" : "Offset"
          },
          "x-title" : "Offset"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse2003"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse2003"
                }
              }
            }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-custom-config" : {
          "methodNameSnake" : "list",
          "methodNameCamel" : "list"
        }
      }
    },
    "/authorized-apps/{appId}" : {
      "get" : {
        "tags" : [ "authorizedApps" ],
        "summary" : "Get authorized app info",
        "description" : "Get information about a specific authorized application.",
        "operationId" : "getAuthorizedAppsId",
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            },
            "x-title" : "Fields"
          },
          "x-title" : "Fields"
        }, {
          "name" : "exclude_fields",
          "in" : "query",
          "description" : "A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            },
            "x-title" : "Exclude Fields"
          },
          "x-title" : "Exclude Fields",
          "x-ballerina-name" : "excludeFields"
        }, {
          "name" : "appId",
          "in" : "path",
          "description" : "The unique id for the connected authorized application",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "x-title" : "App ID"
          },
          "x-title" : "App ID"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse2004"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse2004"
                }
              }
            }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-custom-config" : {
          "methodNameSnake" : "get",
          "methodNameCamel" : "get"
        }
      }
    },
    "/automations" : {
      "get" : {
        "tags" : [ "automations" ],
        "summary" : "List automations",
        "description" : "Get a summary of an account's classic automations.",
        "operationId" : "getAutomations",
        "parameters" : [ {
          "name" : "count",
          "in" : "query",
          "description" : "The number of records to return. Default value is 10. Maximum value is 1000",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000,
            "type" : "integer",
            "default" : 10,
            "x-title" : "Count"
          },
          "x-title" : "Count"
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination), this it the number of records from a collection to skip. Default value is 0",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 0,
            "x-title" : "Offset"
          },
          "x-title" : "Offset"
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            },
            "x-title" : "Fields"
          },
          "x-title" : "Fields"
        }, {
          "name" : "exclude_fields",
          "in" : "query",
          "description" : "A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            },
            "x-title" : "Exclude Fields"
          },
          "x-title" : "Exclude Fields",
          "x-ballerina-name" : "excludeFields"
        }, {
          "name" : "before_create_time",
          "in" : "query",
          "description" : "Restrict the response to automations created before this time. Uses the ISO 8601 time format: 2015-10-21T15:41:36+00:00",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "x-title" : "Before Create Time"
          },
          "x-title" : "Before Create Time",
          "x-ballerina-name" : "beforeCreateTime"
        }, {
          "name" : "since_create_time",
          "in" : "query",
          "description" : "Restrict the response to automations created after this time. Uses the ISO 8601 time format: 2015-10-21T15:41:36+00:00",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "x-title" : "Since Create Time"
          },
          "x-title" : "Since Create Time",
          "x-ballerina-name" : "sinceCreateTime"
        }, {
          "name" : "before_start_time",
          "in" : "query",
          "description" : "Restrict the response to automations started before this time. Uses the ISO 8601 time format: 2015-10-21T15:41:36+00:00",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "x-title" : "Before Start Time"
          },
          "x-title" : "Before Start Time",
          "x-ballerina-name" : "beforeStartTime"
        }, {
          "name" : "since_start_time",
          "in" : "query",
          "description" : "Restrict the response to automations started after this time. Uses the ISO 8601 time format: 2015-10-21T15:41:36+00:00",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time",
            "x-title" : "Since Start Time"
          },
          "x-title" : "Since Start Time",
          "x-ballerina-name" : "sinceStartTime"
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "Restrict the results to automations with the specified status",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "save", "paused", "sending" ],
            "x-title" : "Status"
          },
          "x-title" : "Status"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse2005"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse2005"
                }
              }
            }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-custom-config" : {
          "methodNameSnake" : "list",
          "methodNameCamel" : "list"
        }
      },
      "post" : {
        "tags" : [ "automations" ],
        "summary" : "Add automation",
        "description" : "Create a new classic automation in your Mailchimp account.",
        "operationId" : "postAutomations",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AutomationWorkflow"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AutomationWorkflow1"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AutomationWorkflow1"
                }
              }
            }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-custom-config" : {
          "methodNameSnake" : "create",
          "methodNameCamel" : "create"
        },
        "x-codegen-request-body-name" : "body"
      }
    },
    "/automations/{workflowId}" : {
      "get" : {
        "tags" : [ "automations" ],
        "summary" : "Get automation info",
        "description" : "Get a summary of an individual classic automation workflow's settings and content. The `trigger_settings` object returns information for the first email in the workflow.",
        "operationId" : "getAutomationsId",
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            },
            "x-title" : "Fields"
          },
          "x-title" : "Fields"
        }, {
          "name" : "exclude_fields",
          "in" : "query",
          "description" : "A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            },
            "x-title" : "Exclude Fields"
          },
          "x-title" : "Exclude Fields",
          "x-ballerina-name" : "excludeFields"
        }, {
          "name" : "workflowId",
          "in" : "path",
          "description" : "The unique id for the Automation workflow",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AutomationWorkflow1"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AutomationWorkflow1"
                }
              }
            }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "x-custom-config" : {
          "methodNameSnake" : "get",
          "methodNameCamel" : "get"
        }
      }
    },
    "/automations/{workflowId}/actions/pause-all-emails" : {
      "post" : {
        "tags" : [ "automations" ],
        "summary" : "Pause automation emails",
        "description" : "Pause all emails in a specific classic automation workflow.",
        "operationId" : "postAutomationsIdActionsPauseAllEmails",
        "parameters" : [ {
          "name" : "workflowId",
          "in" : "path",
          "description" : "The unique id for the Automation workflow",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Empty Response",
            "content" : { }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-custom-config" : {
          "methodNameSnake" : "pause_all_emails",
          "methodNameCamel" : "pauseAllEmails"
        }
      }
    },
    "/automations/{workflowId}/actions/start-all-emails" : {
      "post" : {
        "tags" : [ "automations" ],
        "summary" : "Start automation emails",
        "description" : "Start all emails in a classic automation workflow.",
        "operationId" : "postAutomationsIdActionsStartAllEmails",
        "parameters" : [ {
          "name" : "workflowId",
          "in" : "path",
          "description" : "The unique id for the Automation workflow",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Empty Response",
            "content" : { }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-custom-config" : {
          "methodNameSnake" : "start_all_emails",
          "methodNameCamel" : "startAllEmails"
        }
      }
    },
    "/automations/{workflowId}/actions/archive" : {
      "post" : {
        "tags" : [ "automations" ],
        "summary" : "Archive automation",
        "description" : "Archiving will permanently end your automation and keep the report data. You’ll be able to replicate your archived automation, but you can’t restart it.",
        "operationId" : "archiveAutomations",
        "parameters" : [ {
          "name" : "workflowId",
          "in" : "path",
          "description" : "The unique id for the Automation workflow",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Empty Response",
            "content" : { }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-custom-config" : {
          "methodNameSnake" : "archive",
          "methodNameCamel" : "archive"
        }
      }
    },
    "/automations/{workflowId}/emails" : {
      "get" : {
        "tags" : [ "automations" ],
        "summary" : "List automated emails",
        "description" : "Get a summary of the emails in a classic automation workflow.",
        "operationId" : "getAutomationsIdEmails",
        "parameters" : [ {
          "name" : "workflowId",
          "in" : "path",
          "description" : "The unique id for the Automation workflow",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AutomationEmails"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AutomationEmails"
                }
              }
            }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-custom-config" : {
          "methodNameSnake" : "list_all_workflow_emails",
          "methodNameCamel" : "listAllWorkflowEmails"
        }
      }
    },
    "/automations/{workflowId}/emails/{workflowEmailId}" : {
      "get" : {
        "tags" : [ "automations" ],
        "summary" : "Get workflow email info",
        "description" : "Get information about an individual classic automation workflow email.",
        "operationId" : "getAutomationsIdEmailsId",
        "parameters" : [ {
          "name" : "workflowId",
          "in" : "path",
          "description" : "The unique id for the Automation workflow",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "workflowEmailId",
          "in" : "path",
          "description" : "The unique id for the Automation workflow email",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AutomationWorkflowEmail"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AutomationWorkflowEmail"
                }
              }
            }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-custom-config" : {
          "methodNameSnake" : "get_workflow_email",
          "methodNameCamel" : "getWorkflowEmail"
        }
      },
      "delete" : {
        "tags" : [ "automations" ],
        "summary" : "Delete workflow email",
        "description" : "Removes an individual classic automation workflow email. Emails from certain workflow types, including the Abandoned Cart Email (abandonedCart) and Product Retargeting Email (abandonedBrowse) Workflows, cannot be deleted.",
        "operationId" : "deleteAutomationsIdEmailsId",
        "parameters" : [ {
          "name" : "workflowId",
          "in" : "path",
          "description" : "The unique id for the Automation workflow",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "workflowEmailId",
          "in" : "path",
          "description" : "The unique id for the Automation workflow email",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Empty Response",
            "content" : { }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-custom-config" : {
          "methodNameSnake" : "delete_workflow_email",
          "methodNameCamel" : "deleteWorkflowEmail"
        }
      },
      "patch" : {
        "tags" : [ "automations" ],
        "summary" : "Update workflow email",
        "description" : "Update settings for a classic automation workflow email.  Only works with workflows of type: abandonedBrowse, abandonedCart, emailFollowup, or singleWelcome.",
        "operationId" : "patchAutomationEmailWorkflowId",
        "parameters" : [ {
          "name" : "workflowId",
          "in" : "path",
          "description" : "The unique id for the Automation workflow",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "workflowEmailId",
          "in" : "path",
          "description" : "The unique id for the Automation workflow email",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateInformationAboutASpecificWorkflowEmail"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AutomationWorkflowEmail"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AutomationWorkflowEmail"
                }
              }
            }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "x-custom-config" : {
          "methodNameSnake" : "update_workflow_email",
          "methodNameCamel" : "updateWorkflowEmail"
        },
        "x-codegen-request-body-name" : "body"
      }
    },
    "/automations/{workflowId}/emails/{workflowEmailId}/queue" : {
      "get" : {
        "tags" : [ "automations" ],
        "summary" : "List automated email subscribers",
        "description" : "Get information about a classic automation email queue.",
        "operationId" : "getAutomationsIdEmailsIdQueue",
        "parameters" : [ {
          "name" : "workflowId",
          "in" : "path",
          "description" : "The unique id for the Automation workflow",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "workflowEmailId",
          "in" : "path",
          "description" : "The unique id for the Automation workflow email",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse2006"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InlineResponse2006"
                }
              }
            }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-custom-config" : {
          "methodNameSnake" : "get_workflow_email_subscriber_queue",
          "methodNameCamel" : "getWorkflowEmailSubscriberQueue"
        }
      },
      "post" : {
        "tags" : [ "automations" ],
        "summary" : "Add subscriber to workflow email",
        "description" : "Manually add a subscriber to a workflow, bypassing the default trigger settings. You can also use this endpoint to trigger a series of automated emails in an API 3.0 workflow type.",
        "operationId" : "postAutomationsIdEmailsIdQueue",
        "parameters" : [ {
          "name" : "workflowId",
          "in" : "path",
          "description" : "The unique id for the Automation workflow",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "workflowEmailId",
          "in" : "path",
          "description" : "The unique id for the Automation workflow email",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SubscriberInAutomationQueue"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscriberInAutomationQueue1"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscriberInAutomationQueue1"
                }
              }
            }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-custom-config" : {
          "methodNameSnake" : "add_workflow_email_subscriber",
          "methodNameCamel" : "addWorkflowEmailSubscriber"
        },
        "x-codegen-request-body-name" : "body"
      }
    },
    "/automations/{workflowId}/emails/{workflowEmailId}/queue/{subscriberHash}" : {
      "get" : {
        "tags" : [ "automations" ],
        "summary" : "Get automated email subscriber",
        "description" : "Get information about a specific subscriber in a classic automation email queue.",
        "operationId" : "getAutomationsIdEmailsIdQueueId",
        "parameters" : [ {
          "name" : "workflowId",
          "in" : "path",
          "description" : "The unique id for the Automation workflow",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "workflowEmailId",
          "in" : "path",
          "description" : "The unique id for the Automation workflow email",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriberHash",
          "in" : "path",
          "description" : "The MD5 hash of the lowercase version of the list member's email address",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "x-title" : "Subscriber Hash"
          },
          "x-title" : "Subscriber Hash"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscriberInAutomationQueue1"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscriberInAutomationQueue1"
                }
              }
            }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-custom-config" : {
          "methodNameSnake" : "get_workflow_email_subscriber",
          "methodNameCamel" : "getWorkflowEmailSubscriber"
        }
      }
    },
    "/automations/{workflowId}/emails/{workflowEmailId}/actions/pause" : {
      "post" : {
        "tags" : [ "automations" ],
        "summary" : "Pause automated email",
        "description" : "Pause an automated email.",
        "operationId" : "postAutomationsIdEmailsIdActionsPause",
        "parameters" : [ {
          "name" : "workflowId",
          "in" : "path",
          "description" : "The unique id for the Automation workflow",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "workflowEmailId",
          "in" : "path",
          "description" : "The unique id for the Automation workflow email",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Empty Response",
            "content" : { }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-custom-config" : {
          "methodNameSnake" : "pause_workflow_email",
          "methodNameCamel" : "pauseWorkflowEmail"
        }
      }
    },
    "/automations/{workflowId}/emails/{workflowEmailId}/actions/start" : {
      "post" : {
        "tags" : [ "automations" ],
        "summary" : "Start automated email",
        "description" : "Start an automated email.",
        "operationId" : "postAutomationsIdEmailsIdActionsStart",
        "parameters" : [ {
          "name" : "workflowId",
          "in" : "path",
          "description" : "The unique id for the Automation workflow",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "workflowEmailId",
          "in" : "path",
          "description" : "The unique id for the Automation workflow email",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Empty Response",
            "content" : { }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-custom-config" : {
          "methodNameSnake" : "start_workflow_email",
          "methodNameCamel" : "startWorkflowEmail"
        }
      }
    },
    "/automations/{workflowId}/removed-subscribers" : {
      "get" : {
        "tags" : [ "automations" ],
        "summary" : "List subscribers removed from workflow",
        "description" : "Get information about subscribers who were removed from a classic automation workflow.",
        "operationId" : "getAutomationsIdRemovedSubscribers",
        "parameters" : [ {
          "name" : "workflowId",
          "in" : "path",
          "description" : "The unique id for the Automation workflow",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RemovedSubscribers"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RemovedSubscribers"
                }
              }
            }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-custom-config" : {
          "methodNameSnake" : "list_workflow_email_subscribers_removed",
          "methodNameCamel" : "listWorkflowEmailSubscribersRemoved"
        }
      },
      "post" : {
        "tags" : [ "automations" ],
        "summary" : "Remove subscriber from workflow",
        "description" : "Remove a subscriber from a specific classic automation workflow. You can remove a subscriber at any point in an automation workflow, regardless of how many emails they've been sent from that workflow. Once they're removed, they can never be added back to the same workflow.",
        "operationId" : "postAutomationsIdRemovedSubscribers",
        "parameters" : [ {
          "name" : "workflowId",
          "in" : "path",
          "description" : "The unique id for the Automation workflow",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SubscriberInAutomationQueue"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscriberRemovedFromAutomationWorkflow"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscriberRemovedFromAutomationWorkflow"
                }
              }
            }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-custom-config" : {
          "methodNameSnake" : "remove_workflow_email_subscriber",
          "methodNameCamel" : "removeWorkflowEmailSubscriber"
        },
        "x-codegen-request-body-name" : "body"
      }
    },
    "/automations/{workflowId}/removed-subscribers/{subscriberHash}" : {
      "get" : {
        "tags" : [ "automations" ],
        "summary" : "Get subscriber removed from workflow",
        "description" : "Get information about a specific subscriber who was removed from a classic automation workflow.",
        "operationId" : "getAutomationsIdRemovedSubscribersId",
        "parameters" : [ {
          "name" : "workflowId",
          "in" : "path",
          "description" : "The unique id for the Automation workflow",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subscriberHash",
          "in" : "path",
          "description" : "The MD5 hash of the lowercase version of the list member's email address",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "x-title" : "Subscriber Hash"
          },
          "x-title" : "Subscriber Hash"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscriberRemovedFromAutomationWorkflow"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubscriberRemovedFromAutomationWorkflow"
                }
              }
            }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-custom-config" : {
          "methodNameSnake" : "get_removed_workflow_email_subscriber",
          "methodNameCamel" : "getRemovedWorkflowEmailSubscriber"
        }
      }
    },
    "/batches" : {
      "get" : {
        "tags" : [ "batches" ],
        "summary" : "List batch requests",
        "description" : "Get a summary of batch requests that have been made.",
        "operationId" : "getBatches",
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            },
            "x-title" : "Fields"
          },
          "x-title" : "Fields"
        }, {
          "name" : "exclude_fields",
          "in" : "query",
          "description" : "A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            },
            "x-title" : "Exclude Fields"
          },
          "x-title" : "Exclude Fields",
          "x-ballerina-name" : "excludeFields"
        }, {
          "name" : "count",
          "in" : "query",
          "description" : "The number of records to return. Default value is 10. Maximum value is 1000",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000,
            "type" : "integer",
            "default" : 10,
            "x-title" : "Count"
          },
          "x-title" : "Count"
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination), this it the number of records from a collection to skip. Default value is 0",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 0,
            "x-title" : "Offset"
          },
          "x-title" : "Offset"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchOperations"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchOperations"
                }
              }
            }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-custom-config" : {
          "methodNameSnake" : "list",
          "methodNameCamel" : "list"
        }
      },
      "post" : {
        "tags" : [ "batches" ],
        "summary" : "Start batch operation",
        "description" : "Begin processing a batch operations request.",
        "operationId" : "postBatches",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchesBody"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Batch"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Batch"
                }
              }
            }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-custom-config" : {
          "methodNameSnake" : "start",
          "methodNameCamel" : "start"
        },
        "x-codegen-request-body-name" : "body"
      }
    },
    "/batches/{batchId}" : {
      "get" : {
        "tags" : [ "batches" ],
        "summary" : "Get batch operation status",
        "description" : "Get the status of a batch request.",
        "operationId" : "getBatchesId",
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            },
            "x-title" : "Fields"
          },
          "x-title" : "Fields"
        }, {
          "name" : "exclude_fields",
          "in" : "query",
          "description" : "A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            },
            "x-title" : "Exclude Fields"
          },
          "x-title" : "Exclude Fields",
          "x-ballerina-name" : "excludeFields"
        }, {
          "name" : "batchId",
          "in" : "path",
          "description" : "The unique id for the batch operation",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Batch"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Batch"
                }
              }
            }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-custom-config" : {
          "methodNameSnake" : "status",
          "methodNameCamel" : "status"
        }
      },
      "delete" : {
        "tags" : [ "batches" ],
        "summary" : "Delete batch request",
        "description" : "Stops a batch request from running. Since only one batch request is run at a time, this can be used to cancel a long running request. The results of any completed operations will not be available after this call.",
        "operationId" : "deleteBatchesId",
        "parameters" : [ {
          "name" : "batchId",
          "in" : "path",
          "description" : "The unique id for the batch operation",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Empty Response",
            "content" : { }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-custom-config" : {
          "methodNameSnake" : "delete_request",
          "methodNameCamel" : "deleteRequest"
        }
      }
    },
    "/batch-webhooks" : {
      "get" : {
        "tags" : [ "batchWebhooks" ],
        "summary" : "List batch webhooks",
        "description" : "Get all webhooks that have been configured for batches.",
        "operationId" : "getBatchWebhooks",
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            },
            "x-title" : "Fields"
          },
          "x-title" : "Fields"
        }, {
          "name" : "exclude_fields",
          "in" : "query",
          "description" : "A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            },
            "x-title" : "Exclude Fields"
          },
          "x-title" : "Exclude Fields",
          "x-ballerina-name" : "excludeFields"
        }, {
          "name" : "count",
          "in" : "query",
          "description" : "The number of records to return. Default value is 10. Maximum value is 1000",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000,
            "type" : "integer",
            "default" : 10,
            "x-title" : "Count"
          },
          "x-title" : "Count"
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination), this it the number of records from a collection to skip. Default value is 0",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 0,
            "x-title" : "Offset"
          },
          "x-title" : "Offset"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchWebhooks"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchWebhooks"
                }
              }
            }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-custom-config" : {
          "methodNameSnake" : "list",
          "methodNameCamel" : "list"
        }
      },
      "post" : {
        "tags" : [ "batchWebhooks" ],
        "summary" : "Add batch webhook",
        "description" : "Configure a webhook that will fire whenever any batch request completes processing.  You may only have a maximum of 20 batch webhooks.",
        "operationId" : "postBatchWebhooks",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchWebhook"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchWebhook1"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchWebhook1"
                }
              }
            }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-custom-config" : {
          "methodNameSnake" : "create",
          "methodNameCamel" : "create"
        },
        "x-codegen-request-body-name" : "body"
      }
    },
    "/batch-webhooks/{batchWebhookId}" : {
      "get" : {
        "tags" : [ "batchWebhooks" ],
        "summary" : "Get batch webhook info",
        "description" : "Get information about a specific batch webhook.",
        "operationId" : "getBatchWebhook",
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            },
            "x-title" : "Fields"
          },
          "x-title" : "Fields"
        }, {
          "name" : "exclude_fields",
          "in" : "query",
          "description" : "A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            },
            "x-title" : "Exclude Fields"
          },
          "x-title" : "Exclude Fields",
          "x-ballerina-name" : "excludeFields"
        }, {
          "name" : "batchWebhookId",
          "in" : "path",
          "description" : "The unique id for the batch webhook",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchWebhook1"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchWebhook1"
                }
              }
            }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-custom-config" : {
          "methodNameSnake" : "get",
          "methodNameCamel" : "get"
        }
      },
      "delete" : {
        "tags" : [ "batchWebhooks" ],
        "summary" : "Delete batch webhook",
        "description" : "Remove a batch webhook. Webhooks will no longer be sent to the given URL.",
        "operationId" : "deleteBatchWebhookId",
        "parameters" : [ {
          "name" : "batchWebhookId",
          "in" : "path",
          "description" : "The unique id for the batch webhook",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Empty Response",
            "content" : { }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-custom-config" : {
          "methodNameSnake" : "remove",
          "methodNameCamel" : "remove"
        }
      },
      "patch" : {
        "tags" : [ "batchWebhooks" ],
        "summary" : "Update batch webhook",
        "description" : "Update a webhook that will fire whenever any batch request completes processing.",
        "operationId" : "patchBatchWebhooks",
        "parameters" : [ {
          "name" : "batchWebhookId",
          "in" : "path",
          "description" : "The unique id for the batch webhook",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BatchWebhook2"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchWebhook1"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BatchWebhook1"
                }
              }
            }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-custom-config" : {
          "methodNameSnake" : "update",
          "methodNameCamel" : "update"
        },
        "x-codegen-request-body-name" : "body"
      }
    },
    "/template-folders" : {
      "get" : {
        "tags" : [ "templateFolders" ],
        "summary" : "List template folders",
        "description" : "Get all folders used to organize templates.",
        "operationId" : "getTemplateFolders",
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            },
            "x-title" : "Fields"
          },
          "x-title" : "Fields"
        }, {
          "name" : "exclude_fields",
          "in" : "query",
          "description" : "A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            },
            "x-title" : "Exclude Fields"
          },
          "x-title" : "Exclude Fields",
          "x-ballerina-name" : "excludeFields"
        }, {
          "name" : "count",
          "in" : "query",
          "description" : "The number of records to return. Default value is 10. Maximum value is 1000",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000,
            "type" : "integer",
            "default" : 10,
            "x-title" : "Count"
          },
          "x-title" : "Count"
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination), this it the number of records from a collection to skip. Default value is 0",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 0,
            "x-title" : "Offset"
          },
          "x-title" : "Offset"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TemplateFolders"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TemplateFolders"
                }
              }
            }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-custom-config" : {
          "methodNameSnake" : "list",
          "methodNameCamel" : "list"
        }
      },
      "post" : {
        "tags" : [ "templateFolders" ],
        "summary" : "Add template folder",
        "description" : "Create a new template folder.",
        "operationId" : "postTemplateFolders",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TemplateFolder"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TemplateFolder1"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TemplateFolder1"
                }
              }
            }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-custom-config" : {
          "methodNameSnake" : "create",
          "methodNameCamel" : "create"
        },
        "x-codegen-request-body-name" : "body"
      }
    },
    "/template-folders/{folderId}" : {
      "get" : {
        "tags" : [ "templateFolders" ],
        "summary" : "Get template folder",
        "description" : "Get information about a specific folder used to organize templates.",
        "operationId" : "getTemplateFoldersId",
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            },
            "x-title" : "Fields"
          },
          "x-title" : "Fields"
        }, {
          "name" : "exclude_fields",
          "in" : "query",
          "description" : "A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            },
            "x-title" : "Exclude Fields"
          },
          "x-title" : "Exclude Fields",
          "x-ballerina-name" : "excludeFields"
        }, {
          "name" : "folderId",
          "in" : "path",
          "description" : "The unique id for the template folder",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TemplateFolder1"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TemplateFolder1"
                }
              }
            }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-custom-config" : {
          "methodNameSnake" : "get",
          "methodNameCamel" : "get"
        }
      },
      "delete" : {
        "tags" : [ "templateFolders" ],
        "summary" : "Delete template folder",
        "description" : "Delete a specific template folder, and mark all the templates in the folder as 'unfiled'.",
        "operationId" : "deleteTemplateFoldersId",
        "parameters" : [ {
          "name" : "folderId",
          "in" : "path",
          "description" : "The unique id for the template folder",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Empty Response",
            "content" : { }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-custom-config" : {
          "methodNameSnake" : "remove",
          "methodNameCamel" : "remove"
        }
      },
      "patch" : {
        "tags" : [ "templateFolders" ],
        "summary" : "Update template folder",
        "description" : "Update a specific folder used to organize templates.",
        "operationId" : "patchTemplateFoldersId",
        "parameters" : [ {
          "name" : "folderId",
          "in" : "path",
          "description" : "The unique id for the template folder",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TemplateFolder"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TemplateFolder1"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TemplateFolder1"
                }
              }
            }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-custom-config" : {
          "methodNameSnake" : "update",
          "methodNameCamel" : "update"
        },
        "x-codegen-request-body-name" : "body"
      }
    },
    "/campaign-folders" : {
      "get" : {
        "tags" : [ "campaignFolders" ],
        "summary" : "List campaign folders",
        "description" : "Get all folders used to organize campaigns.",
        "operationId" : "getCampaignFolders",
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            },
            "x-title" : "Fields"
          },
          "x-title" : "Fields"
        }, {
          "name" : "exclude_fields",
          "in" : "query",
          "description" : "A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            },
            "x-title" : "Exclude Fields"
          },
          "x-title" : "Exclude Fields",
          "x-ballerina-name" : "excludeFields"
        }, {
          "name" : "count",
          "in" : "query",
          "description" : "The number of records to return. Default value is 10. Maximum value is 1000",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000,
            "type" : "integer",
            "default" : 10,
            "x-title" : "Count"
          },
          "x-title" : "Count"
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "Used for [pagination](https://mailchimp.com/developer/marketing/docs/methods-parameters/#pagination), this it the number of records from a collection to skip. Default value is 0",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "default" : 0,
            "x-title" : "Offset"
          },
          "x-title" : "Offset"
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CampaignFolders"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CampaignFolders"
                }
              }
            }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-custom-config" : {
          "methodNameSnake" : "list",
          "methodNameCamel" : "list"
        }
      },
      "post" : {
        "tags" : [ "campaignFolders" ],
        "summary" : "Add campaign folder",
        "description" : "Create a new campaign folder.",
        "operationId" : "postCampaignFolders",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CampaignFolder"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CampaignFolder1"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CampaignFolder1"
                }
              }
            }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-custom-config" : {
          "methodNameSnake" : "create",
          "methodNameCamel" : "create"
        },
        "x-codegen-request-body-name" : "body"
      }
    },
    "/campaign-folders/{folderId}" : {
      "get" : {
        "tags" : [ "campaignFolders" ],
        "summary" : "Get campaign folder",
        "description" : "Get information about a specific folder used to organize campaigns.",
        "operationId" : "getCampaignFoldersId",
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "A comma-separated list of fields to return. Reference parameters of sub-objects with dot notation",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            },
            "x-title" : "Fields"
          },
          "x-title" : "Fields"
        }, {
          "name" : "exclude_fields",
          "in" : "query",
          "description" : "A comma-separated list of fields to exclude. Reference parameters of sub-objects with dot notation",
          "required" : false,
          "style" : "form",
          "explode" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            },
            "x-title" : "Exclude Fields"
          },
          "x-title" : "Exclude Fields",
          "x-ballerina-name" : "excludeFields"
        }, {
          "name" : "folderId",
          "in" : "path",
          "description" : "The unique id for the campaign folder",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CampaignFolder1"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CampaignFolder1"
                }
              }
            }
          },
          "default" : {
            "description" : "An error generated by the Mailchimp API.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              },
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProblemDetailDocument"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-custom-config" : {
          "methodNameSnake" : "get",
[...]
